<h1 class="text-center">Distancia entre dos puntos</h1>
<br>
<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-5">
                <label class="form-label" for="">X1</label>
                <input class="form-control" [(ngModel)]="x1">
            </div>
            <div class="col-5">
                <label class="form-label" for="">Y1</label>
                <input class="form-control" [(ngModel)]="y1" >
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <label class="form-label" for="">X2</label>
                <input class="form-control" [(ngModel)]="x2">
            </div>
            <div class="col-5">
                <label class="form-label" for="">Y2</label>
                <input class="form-control" [(ngModel)]="y2">
            </div>
        </div>
    </div>
    <div class="col-6">  
        <br>  
        <h2>Resultado: {{resultado}}</h2>
    </div>
</div>
<br>
<div>
    <button (click) = "calcular()" class="btn btn-primary">Calcular</button>
</div>
<hr>